<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />

</head>
<body>
	<section>

		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">

					<div class=" card mt-4 px-4">
						<!-- Alert Messages -->

						<div th:if="${session.message}"
							th:classappend="${session.message.type}" class="alert my-2"
							role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>
							<th:block th:text="${#session.removeAttribute('message')}">
							</th:block>

						</div>


						<div class="container text-center">
							<img style="width: 80px;" alt="" src="" th:src="@{/img/id.png}">
						</div>


						<h3 class="text-center">Sign-up Here !!</h3>
						<form novalidate action="" th:action="@{/do_register}"
							method="post" th:object="${user}">

							<div class="row">

								<div class="col-lg-6">
									<!-- name-field -->
									<div class="form-group">
										<label for="name-field">Name</label> <input type="text"
											name="name" class="form-control" id="name-field"
											aria-describedby="emailHelp" placeholder="Enter your name"
											required
											th:classappend="${#fields.hasErrors('name')?'is-invalid':''}"
											th:value="${user.name}" />

										<div class="invalid-feedback"
											th:each="e : ${#fields.errors('name')}" th:text="${e}"></div>

									</div>
								</div>
								<div class="col-lg-6">

									<!-- email-field -->
									<div class="form-group">
										<label for="email-field">Email</label> <input type="email"
											name="email"
											th:classappend="${#fields.hasErrors('email')?'is-invalid':''}"
											class="form-control" id="email-field"
											aria-describedby="emailHelp" placeholder="Enter your email"
											required th:value="${user.email}" />

										<div class="invalid-feedback"
											th:each="e : ${#fields.errors('email')}" th:text="${e}">
										</div>
									</div>

								</div>

							</div>





							<!-- password-field -->

							<div class="form-group">
								<label for="password-field">Password</label> <input
									name="password"
									th:classappend="${#fields.hasErrors('password')?'is-invalid':''}"
									th:value="${user.password}" type="password"
									class="form-control" id="password-field"
									aria-describedby="emailHelp" placeholder="Enter your password"
									required>
							</div>

							<!--user-about-field -->
							<div class="form-group">
								<label>Description</label>

								<textarea name="about" class="form-control"
									th:text="${user.about}" placeholder="About Yourself" id=""
									rows="5" cols="10">
								   </textarea>

							</div>
							<!--terms & condition agreement  -->
							<div class="form-group form-check">
								<input type="checkbox" name="agreement" class="form-check-input"
									id="agreement" />
							</div>
							<label for="agreement" class="ml-4"> Accept terms &
								conditions</label>

							<!-- buttons -->
							<div class="container text-center my-4">
								<button type="submit" class="btn  bg-primary text-white">Submit</button>

								<button type="reset" class="btn  bg-secondary text-white">Reset</button>
							</div>

						</form>

					</div>

				</div>


			</div>

		</div>
	</section>

</body>
</html>